@import "../../../common/style/variable";

.footer {
  .footer-box {
    width: $maxWidth;
    height: 100%;
    margin: 0 auto;
    padding: 15px 0;

    .friend-link {

    }

    .partner {

    }

    .copyright {

    }
  }
}
