html, body {
  width: 100%;
  height: 100%;
}

/*a标签样式*/
a:link {
  color: #20b0ff
}

/* 未被访问的链接 蓝色 */
a:visited {
  color: #a4a79c
}

/* 已被访问过的链接 蓝色 */
a:hover {
  color: #1b6dff
}

/* 鼠标悬浮在上的链接 蓝色 */
a:active {
  color: #1b6dff
}

/* 鼠标点中激活链接 蓝色 */
