:root {
    --main-width: 1200px;
    --main-bg: #ffffff;
    --link-color: #666666;
    --hover-color: #ff7000;
    --font-color: #333333;
    --line-color: #cccccc;
    --block-bg: #eeeeee;
}
